version: "3.4"
x-common-variables: &common-env-vars
  PORT_DB: ${PORT_DB:-3306}
  PORT_API: ${PORT_API:-8080}
  RABBITMQ_HOST: rabbitmq
  PORT_RABBITMQ: ${PORT_RABBITMQ:-5672}
  MYSQL_HOST: mysql
  MYSQL_FINANCIAL_HOST: mysql_financial
  PORT_DISCOVERY: ${PORT_DISCOVERY:-8761}
  DISCOVERY_HOST: discovery

services:
  mysql:
    image: mysql
    environment:
      MYSQL_DATABASE: ${ACTIVITY_MYSQL_DATABASE:-activity_db}
      MYSQL_USER: ${ACTIVITY_MYSQL_USER:-activity_user}
      MYSQL_PASSWORD: ${ACTIVITY_MYSQL_PASSWORD:-activity_password}
      MYSQL_ROOT_PASSWORD: ${ACTIVITY_MYSQL_ROOT_PASSWORD:-root_password}
    volumes:
      - "./conf.d:/etc/mysql/conf.d:ro"
  mysql_financial:
    image: mysql
    environment:
      MYSQL_DATABASE: ${FINANCIAL_MYSQL_DATABASE:-financial_db}
      MYSQL_USER: ${FINANCIAL_MYSQL_USER:-financial_user}
      MYSQL_PASSWORD: ${FINANCIAL_MYSQL_PASSWORD:-financial_password}
      MYSQL_ROOT_PASSWORD: ${FINANCIAL_MYSQL_ROOT_PASSWORD:-root_password}
    volumes:
      - "./conf.d:/etc/mysql/conf.d:ro"
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "${PORT_RABBITMQ:-5672}:${PORT_RABBITMQ:-5672}"
    RABBITMQ_DEFAULT_PASS: ${RABBIT_MQ_PASS:-guest}
    RABBITMQ_DEFAULT_USER: ${RABBIT_MQ_USER:-guest}
  discovery:
    build: discovery-service
    ports:
      - "${PORT_DISCOVERY:-8761}:${PORT_DISCOVERY:-8761}"
  gateway:
    depends_on:
      - discovery
    build: api-gateway
    ports:
      - "${PORT_API:-8080}:${PORT_API:-8080}"
    environment:
      <<: *common-env-vars
  activity:
    depends_on:
      - mysql
      - rabbitmq
      - discovery
    build: activity-service
    environment:
      <<: *common-env-vars
      MYSQL_DATABASE: ${ACTIVITY_MYSQL_DATABASE:-activity_db}
      MYSQL_USER: ${ACTIVITY_MYSQL_USER:-activity_user}
      MYSQL_PASSWORD: ${ACTIVITY_MYSQL_PASSWORD:-activity_password}
  financial:
    depends_on:
      - mysql_financial
      - rabbitmq
      - discovery
    build: financial-service
    environment:
      <<: *common-env-vars
      MYSQL_DATABASE: ${FINANCIAL_MYSQL_DATABASE:-financial_db}
      MYSQL_USER: ${FINANCIAL_MYSQL_USER:-financial_user}
      MYSQL_PASSWORD: ${FINANCIAL_MYSQL_PASSWORD:-financial_password}
  google:
    depends_on:
      - discovery
    build: google-service
    environment:
      <<: *common-env-vars
  ui:
    depends_on:
      - discovery
    build: ui-service
    environment:
      <<: *common-env-vars